@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animations */
@keyframes infinite-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@layer utilities {
    .animate-infinite-scroll {
        animation: infinite-scroll 25s linear infinite;
    }
}

/* Background Colors */
.bg-background {
    background-color: #ff1139;
}

.bg-main {
    background-color: #ff1139;
}

/* Text Colors */
.text-primary {
    color: #de0404;
}

.text-secondary-button-text {
    color: #e40303;
}

.text-header {
    color: #ffffff;
}

.text-body {
    color: #ffffff;
}

/* Button Styles */
.bg-secondary {
    background-color: #ffffff;
}

.hover\:bg-secondary-700:hover {
    background-color: #cccccc;
}

.bg-secondary-button-text {
    background-color: #e40303;
}

/* Font Families */
.font-header {
    font-family: 'Poppins', sans-serif;
}

.font-title {
    font-family: 'Poppins', sans-serif;
}

.font-body {
    font-family: 'Roboto', sans-serif;
}

/* Miscellaneous */
.backdrop-blur-lg {
    backdrop-filter: blur(16px);
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}
